body.page-login {
    .auth-wrapper {
        background: $gap-blue;

        .logo-container {
            width: 150px;
            margin: 0 auto 13px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
