.bigdrop.select2-container .select2-results {
  height: auto;
}

.bigdrop {
  .select2-results {
    height: auto;
  }

  .select2-result-label {
    height: 100px;
  }

  .select2-highlighted {
    color: #4584D1;
    background: none;
    transition: all 0.2s ease-in-out;

  }
}

.input-preview {
  height: auto;
  min-height: 100px;
  flex: 0 0 25%;
  margin: 1rem 0;
}

.select2-container{
    width: 100%!important;
}
.select2-search--dropdown .select2-search__field {
    width: 98%;
}
.select2-results__option[aria-selected="true"] {
    display: none;
}

/***************************************************************
INPUT NO EDIT
***************************************************************/
.form-control.input-no-edit {
    background-color: #e8ebef; /* #7fa5d0;*/ /*#22A6AB;*/
    border: 1px solid #9b9fa2;
    color: #555555; /*#E0E0E0;*/
    padding-left: 10px;
    padding-right: 10px;
}

.form-control.input-no-edit a {
    color: #361FAF !important;
}

.form-control.input-no-edit:hover {
    background-color: #d1d3d6 !important; /*#ADC9E8*/
    border: 1px solid #b9c0c5; /*#2F3133;*/
    /*color: #fff;*/
    outline: none;
}

.form-control.input-no-edit:focus {
    background-color: #363636 !important;
    border: 1px solid #2F3133;
    color: #fff;
    outline: none;
}

.form-control.input-no-edit:visited {
    background-color: #363636 !important;
    border: 1px solid #2F3133;
    color: #fff;
    outline: none;
}

.form-control.input-no-edit:empty {
    padding-top: 25px;
}
/***************************************************************
END - INPUT NO EDIT
***************************************************************/

/****** Language Flags icons ******/
ul.languages-flags-list {
    list-style: none;
    padding: 0;
    margin-top: 5px;

    li {
        display: inline-block;
        margin: 0 5px;

        i {
            margin-left: 5px;
        }
    }
}
/****** /Language Flags icons ******/
