<template>
    <div class="form-group" :class="cContainerClass">
        <label :for="cId" :class="cLabelClass">{{ label }}</label>

        <div class="min-max">
            <span v-if="typeof min !== 'undefined'">min: {{min}}</span>
            <span v-if="typeof max !== 'undefined'"><span v-if="typeof min !== 'undefined'"> - </span>max: {{max}}</span>
            <span v-if="charCountVisibleComputed"> ({{this.inputValueLength}})</span>
        </div>

        <select v-if="type == 'select' || type == 'select2'" :multiple="multiple" :data_search="dataSearch" :class="cClass">
            <slot></slot>
        </select>

        <textarea v-else-if="type == 'textarea'" :name="cName" :id="cId" :class="cClass" :rows="rows" :maxlength="max" v-model="inputValue" :placeholder="placeholder"></textarea>

        <input v-else-if="type == 'date' || type == 'datetime' || type == 'time'" :type="realType" :id="cId" :name="cName" :class="'text-right ' + cClass" v-model="dateTimeValue" :placeholder="placeholder">

        <input v-else-if="type == 'checkbox'" type="checkbox" :id="cId" :name="cName" :class="cClass" :maxlength="max" :placeholder="placeholder">

        <input v-else-if="type == 'real' || type == 'int'" type="text" :id="cId" :name="cName" :class="'text-right ' + cClass" :maxlength="max" v-model="inputValue" :placeholder="placeholder">

        <input v-else :type="realType" :id="cId" :name="cName" :class="cClass" :maxlength="max" v-model="inputValue" :placeholder="placeholder">

        <div class="form-error-container" v-if="errorMsgs.length > 0">
            <p v-for="msg in errorMsgs" :key="msg.id" class="text-danger">{{ msg.text }}</p>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            type: {
                type: String,
                default: 'text'
            },
            label: String,
            options: {},
            value: {},
            dataSearch: {
                type: Boolean,
                default: true
            },
            multiple: {
                type: String
            },
            placeholder: String,
            allowClear: {
                type: Boolean,
                default: true
            },
            readOnly: {
                type: Boolean,
                default: false
            },
            cId: String,
            cName: String,
            cContainerClass: {
                type: String,
                default: 'col-12 mb-2'
            },
            cLabelClass: {
                type: String,
                default: 'canela-input-label'
            },
            cClass: {
                type: String,
                default: 'form-control canela-input-text'
            },
            errorMsgs: {
                type: Array,
                default: function () {
                    return [];
                }
            },
            min: Number,
            max: Number,
            charCountVisible: {
                type: Boolean,
                default: true
            },
            rows: {
                type: Number,
                default: 3
            },
            dateFormat: {
                type: String,
                default: 'DD-MM-YYYY'
            },
            dateTimeFormat: {
                type: String,
                default: 'DD-MM-YYYY HH:mm:ss'
            },
            urlSelectRefresh: {
                type: String,
                default: ''
            },
            onInputsChangeRefresh: {
                type: Array,
                default: function () {
                    return [];
                }
            }
        },
        data: function () {
            return {
                'inputValue': '',
                'dateTimeValue': '',
                'selectOptions': [],
                'selectedOptions': []
            }
        },
        mounted: function () {
            var vm = this;
            this.inputValue = this.value;
            var el;

            switch (this.type) {
                case 'select':
                case 'select2':
                    var select2 = jQuery(this.$el).find('select')
                        .attr('id', this.cId)
                        .attr('name', this.cName);
                    el = select2;

                    this.selectedOptions = this.multiple != undefined ? (jQuery.isValidJSONString(this.value) ? JSON.parse(this.value) : []) : this.value;

                    if (this.urlSelectRefresh.length) {
                        this.refresh('mounted');
                    } else {
                        this.selectOptions = this.options.length ? JSON.parse(this.options) : [];
                    }
                    this.select2Initialize(select2, true);
                    break;

                case 'date':
                case 'datetime':
                    el = jQuery(this.$el).find('input');

                    this.dateTimeValue = (this.inputValue === undefined || this.inputValue == '0000-00-00 00:00:00' || this.inputValue == '') ? '' :
                        (this.type == 'date' ? jQuery.formatDateEs(this.inputValue) : jQuery.formatDateTimeEs(this.inputValue));

                    jQuery(this.$el).find('input').bootstrapMaterialDatePicker({
                        time: this.type == 'datetime',
                        format: (this.type == 'date' ? this.dateFormat : this.dateTimeFormat),
                        weekStart : 1,
                        switchOnClick: true,
                        clearButton: true,
                        okText: vm.$t('general.buttons.accept'),
                        cancelText: vm.$t('general.buttons.cancel'),
                        clearText: vm.$t('general.buttons.clean'),
                        lang: this.appLocale
                    });
                    break;
                case 'time':
                    el = jQuery(this.$el).find('input');

                    this.dateTimeValue = this.inputValue;
                    break;
                case 'checkbox':
                    el = jQuery(this.$el).find('input');

                    if (parseInt(this.value)) {
                        el.attr('checked', 'checked');
                    }

                    break;
                case 'textarea':
                    el = jQuery(this.$el).find('textarea');
                    break;
                default:    // text
                    el = jQuery(this.$el).find('input');
                    break;
            }

            if (this.readOnly) {
                el.attr('disabled', 'disabled').addClass('input-no-edit');
            }

            this.bindOnInputsChange();

        },
        destroyed: function () {

            switch (this.type) {
                case 'select':
                case 'select2':

                    jQuery(this.$el).find('select').off().select2('destroy');

                    break;

                default:
                    break;
            }

        },
        methods: {
            select2Initialize: function (s2) {
                var vm = this;
                s2.select2({
                    allowClear: this.allowClear,
                    placeholder: (this.allowClear ? (this.placeholder ? this.placeholder : '') : ''),
                    data: this.optionsParse
                });

                if (this.value !== undefined) {
                    s2.val(this.selectedOptions)
                        .trigger('change')
                } else {
                    s2.val(null)
                        .trigger('change');
                }

                // emit event on change.
                s2.on('select2:select', function (e) {
                    console.log('onselect')
                    vm.change('onselect');
                })
                    .on('select2:unselect', function (e) {
                        console.log('onunselect')
                        vm.change('onunselect');
                    })
                    .on('select2:clear', function (e) {
                        console.log('onclearing')
                        vm.change('onclearing');
                    });
            },
            json2arrayComboList: function (json) {
                return Object.keys(json).map(function(key) {
                    var obj = json[key];
                    var props = Object.entries(obj);
                    var first = props[0];
                    return {
                        'id': parseInt(first[0]),
                        'text': first[1]
                    };
                });
            },
            change: function (from) {
                console.log('change:'+this.cId+' from '+from)
                this.$emit('change');
                this.$parent.$emit('change:'+this.cId);
            },
            bindOnInputsChange: function () {
                var vm = this;
                if (this.onInputsChangeRefresh.length) {
                    this.onInputsChangeRefresh.forEach(function (item) {
                        // console.log(vm.cId+' binding '+item)
                        vm.$parent.$on('change:'+item, function () {
                            vm.refresh('onchange ' + item);
                        })
                    });
                }
            },
            addRequestParameters: function (formdata) {
                let vm = this;
                if (this.onInputsChangeRefresh.length) {
                    this.onInputsChangeRefresh.forEach(function (item) {
                        let value = vm.$parent.$refs[item].getValue();
                        if (value !== undefined && value !== null) {
                            formdata.set(item, value);
                        }
                    });
                }
            },
            refresh: function (from) {
                // parametros
                var formdata = new FormData();
                formdata.set('_token', window.Laravel.csrfToken);

                this.addRequestParameters(formdata);

                var vm = this;
                var el = jQuery(vm.$el).find('select');
                el.children().remove().empty();
                this.selectOptions = [];
                jQuery.loadIni();
                axios({
                    method: 'post',
                    url: this.urlSelectRefresh,
                    data: formdata,
                    headers: {'Content-Type': 'multipart/form-data' }
                })
                    .then(function (response) {
                        var data = response.data;
                        if (data.result == 1)
                        {
                            vm.selectOptions = data.data;
                            el.val(vm.selectedOptions).trigger('change');
                        }
                        else
                        {
                            // Mostrar mensaje de error
                            jQuery.messageWarning(data.msg, 3000);
                        }

                        vm.select2Initialize(el);

                        // ocultar espera
                        jQuery.loadEnd();
                    })
                    .catch(function (error) {
                        vm.select2Initialize(el);
                        console.log(error);
                        jQuery.loadEnd();
                        jQuery.messageError(vm.$t('canela-rest.table.errors.generic'));
                    });
            },
            getValue: function () {
                var el;
                switch (this.type) {
                    case 'select':
                    case 'select2':
                        el = jQuery(this.$el).find('select');
                        if (this.multiple != undefined) {
                            console.log('getValue de select2 multiple');
                            // console.log(el.val().map(function (item) { return parseInt(item); }));
                            return el.val().map(function (item) { return parseInt(item); }).join(',');
                        } else {
                            console.log('getValue de select2 single');
                            console.log(el.val());
                            return el.val();
                        }

                        break;
                    case 'textarea':
                        el = jQuery(this.$el).find('textarea');
                        console.log('getValue de textarea');
                        return el.val();
                        break;
                    default:
                        el = jQuery(this.$el).find('input');
                        console.log('getValue de otro');
                        return el.val();
                }

            }
        },
        computed: {
            appLocale: function () {
                return document.documentElement.lang.substr(0, 2);
            },
            optionsParse: function () {
                return this.json2arrayComboList(this.selectOptions);
            },
            realType: function () {
                return (this.type == 'text' || this.type == 'password') ? this.type : 'text';
            },
            inputValueLength: function () {
                return this.inputValue === undefined ? 0 : this.inputValue.length;
            },
            charCountVisibleComputed: function () {
                return (this.type == 'text' || this.type == 'password' || this.type == 'textarea') && this.charCountVisible;
            }
        }
    }
</script>

<style lang="scss">

    /* DatePicker */
    .dtp div.dtp-date,
    .dtp div.dtp-time {
        background: #2396f2;
    }
    .dtp table.dtp-picker-days tr > td > a.selected {
        background: #2396f2;
    }
    .dtp .dtp-content .dtp-buttons {
        .btn {
            color: white;
        }
        .dtp-btn-ok {
            background: #2396f2;
        }
        .dtp-btn-cancel {
            margin-right: 5px;
            background: #fd7b77;
        }
        .dtp-btn-clear {
            margin-right: 5px;
            background: #ffb165;
        }
    }
    /* /DatePicker */

</style>
