// Pages
@import 'pages/include';

// General
.btn-primary {
    color: #fff;
    background-color: $gap-blue;
    border-color: $gap-blue;
}

label {
    font-weight: bold;

    &.required:before {
        content: '* ';
        font-size: .9em;
    }
}

.canela-input-file-container {
    .preview-container {
        position: relative;
        max-width: 200px;
        margin-left: 20px;
        height: auto;

        a.image-action-icon-link {
            position: absolute;
            top: 0px;
            right: -35px;
            color: #3c3c3c;

            &:hover,
            &:active,
            &:focus,
            &:visited {
                color: #3c3c3c;
            }

            i {
                color: #3c3c3c;
                border: 1px solid #3c3c3c;
                border-radius: 50%;
                padding: 6px 8px;
                cursor: pointer;
            }
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}

.bootstrap-tagsinput {
    input {
        background-color: #ecf0f5;
        border: none;
    }
}

.ck-editor__editable {
    min-height: 200px;
}

.list-image-thumb {
    max-width: 100px;
    height: auto;
}

.message-container {
    position: relative;
    z-index: 9999;
}

.table td div.td-multiple-lines {
    white-space: pre-wrap;
}

.associated-items-list {
    margin: 0 0 20px 0;

    .associated-item-container {
        margin-bottom: 30px;
        text-align: center;
        font-size: 0.9em;

        > div {
            height: 100%;
            padding-bottom: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 0 1px 0 rgba(0,0,0,0.75);
        }

        img {
            width: 100%;
            height: auto;
        }

        .item-name-container {
            margin: 5px 0;
        }

        a.remove-item-link,
        a.edit-item-link {
            i {
                color: #3c3c3c;
                border: 1px solid #3c3c3c;
                border-radius: 50%;
                padding: 7px 8px;
                cursor: pointer;
            }
        }
    }
}

.selectable-header {
    .card {
        display: inline-block;
        padding: 40px 80px;
    }
}

.logo-default {
    img {
        max-width: 135px;
    }
}

.sortable-move-icon-header {
    display: block;
    width: 100%;
    text-align: left;
    cursor: move;

    i {
        font-size: 1.5em;
        padding: 10px 20px;
    }
}

.combo-with-btn-add-new-container {
    display: flex;
    align-items: flex-start;

    a.btn-add-new {
        margin: 2px 0 0 10px;
    }
}

.select-input-container {
    input.select-input-input {
        height: 35px;
    }
    a.btn-select-input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
    }
}
